<% provide(:title, 'Create Dish') %>
<% provide(:button_text, 'Create my account') %>
<h1>Create Dish</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'dishform' %>
  </div>
</div>
